<div class="card form-card">
<div class="card-body">


<p id="notice"><%= notice %></p>
<h3>Brand details</h3>
<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>
<p>
  <strong>Created on:</strong>
  <%= @brand.created_at %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand), :class => 'btn btn-primary btn-sm' %> 
<%= link_to 'Back', brands_path, :class => 'btn btn-danger btn-sm' %>

</div>
</div>